<div class="signinform">
  <div class="signinform-title">
   Mypage
</div>

<!--<div>-->
  <%= form_with scope: :session, url: signin_path, local: true do |f| %>

    <div class="signinform-email">
      <label for="email"><%= f.label :email %></label><br>
      <div class="email_f">
      <%= f.email_field :email %>
      </div>
    </div>

    <div class="signinform-password">
      <label for="password"><%= f.label :password %></label><br>
      <div class="pass">
      <%= f.password_field :password %>
      </div>
    </div>

    <!--<div class="button">
      <%= f.submit "Sign in" %>
    </div>-->
  
  <hr class="signinform-style">

  <!--<div class="sign_in_up">-->
    <%= f.submit "Sign in" %>
    <!--<%= link_to "Sign in", signin_path %>-->
    <%= link_to "Sign up", signup_path, class: "signup" %>
  <!--</div>-->

  <% end %>
  </div>
</div>


