<h1>Sign in</h1>
<div>
  <%= form_with scope: :session, url: signin_path, local: true do |f| %>
    <div>
      <h3><%= f.label :email %></h3>
      <%= f.email_field :email %>
    </div>

    <div>
      <h3><%= f.label :password %></h3>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.submit "Sign in" %>
    </div>
  <% end %>

  <p>New user? <%= link_to  "Sign up now!", signup_path %></p>
</div>
