<div>
  <%= form_with model: @user, url: url, local: true do |f| %>
    <%# エラーメッセージを表示 %>
    <%= render 'shared/error_messages', model: f.object %>

    <div>
      <h4>
        <%= f.label :name %>: 
        <%= f.text_field :name %>
      </h4>
    </div>

    <div>
      <h4>
        <%= f.label :email %>: 
        <%= f.email_field :email %>
      </h4>
    </div>

    <div>
      <h4>
        <%= f.label :gender %>: 
        <%= f.collection_select :gender_id, Gender.all, :id, :name, prompt: "未選択" %>
      </h4>
    </div>

    <div>
      <h4>
        <%= f.label :image %>: 
        <%= f.file_field :image %>
      </h4>
    </div>

    <div>
      <h4>
        <%= f.label :password %>:
        <%= f.password_field :password %>
      </h4>
    </div>

    <div>
      <h4>
        <%= f.label :password_confirmation, "Confirmation" %>: 
        <%= f.password_field :password_confirmation %>
      </h4>
    </div>

    <div>
      <%= f.submit yield(:button_text) %>
    </div>
  <% end %>
  <%= link_to  "Back", :back %>
</div>