<html>
  <head>
    <link href="signup.css" rel="stylesheet" type="text/css">
    <title>ABRRY sighup</title>
  </head>

  <body>
    <% provide(:title, 'Sign up') %>
      <div id="nav">
        <ul>
          <li><%= link_to 'Search', users_path %></li>
          <li><%= link_to 'Signin', users_path %></li>
          <li><%= link_to 'Signup', signup_path %></li>
        </ul>
      </div>

          
      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :name, :Name %>
          <%= f.text_field :name %>
        </div>
        <div class="form-group">
          <%= f.label :email, :Email %>
          <%= f.text_field :email %>
        </div>
        <div class="form-group">
          <%= f.label :password, :Password %>
          <%= f.password_field :password %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, :Confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
        <%= f.submit "Submit" %>
      <% end %>

        
        <div class="form-footer">
          <p><a href="#">Enter Mypage</a></p>
          <p><a href="#">Forgot password?</a></p>
        </div>
      </div>


  </body>
<html>
