<h1><%= @user.name %></h1>
<p><%= @user.email %></p>

<ul>
  <li>Gender: <%= @user.gender.name %></li>
</ul>

<% if signed_in? && @current_user.id == @user.id %>
  <%= link_to  "Edit", edit_user_path(@current_user) %>
  <%= link_to  "Sign out", signout_path, method: :delete %>
  <%= link_to  "Delete", @current_user, method: :delete %>
<% end %>