<div class = "mypagedetail">
  <p class = "mypagetitle">Mypage</p>
  <div class = "mypageimage">
    <%= image_tag @user.image.url %>
  </div>
  <div class = "mypagecontents">
    <p class = "mypagename"><%= @user.name %></p>
    <p class = "mypageeg">E-mail: <%= @user.email %></p>
    <p class = "mypageeg">Gender: <%= @user.gender.name %></p>
  </div>
</div>
<!--
<%
=begin%>
 <%= link_to "My Post", root_url(@current_user) %> 
<%
=end%>
-->
<div class = "mypagebutton">
  <% if current_user.id == @user.id %>
    <a class = "mypagebuttondetail">
      <a><%= link_to  "Edit", edit_user_path(@current_user) %></a>
      <a><%= link_to  "Sign out", signout_path, method: :delete %></a>
      <a><%= link_to  "Delete", @current_user, method: :delete, data: { confirm: "Are You Sure?" } %></a>
      <a><%= link_to "Go Chat", "/users"%>
    </a>
  <% else %>
    <% if @isRoom == true %>
      <%= link_to "Go Chat", "/rooms/#{@roomId}" %>
    <% else %>
      <%= form_with model: @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "Start Chat" %>
      <% end %>
    <% end %> 
  <% end %>

  <%= link_to  "Back", :back %>

</div>