<div>
  <%= form_with model: @post, local: true do |f| %>
    <%# エラーメッセージを表示 %>
    <%= render 'shared/error_messages', model: f.object %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div>
      <h4>
        <%= f.label :title %>: 
        <%= f.text_field :title %>
      </h4>
    </div>

    <div>
      <h4>
        <%= f.label :country %>: 
        <%= f.collection_select :country_id, Country.all, :id, :name, prompt: "Not selected" %>
      </h4>
    </div>

    <div>
      <h4>
        <%= f.label :language %>: 
        <%= f.collection_select :language_id, Language.all, :id, :name, prompt: "Not selected" %>
      </h4>
    </div>

    <div>
      <h4>
        <%= f.label :stay_type %>: 
        <%= f.collection_select :stay_type_id, StayType.all, :id, :name, prompt: "Not selected" %>
      </h4>
    </div>

    <div>
      <h4>
        <%= f.label :kind %>: 
        <%= f.collection_select :kind_id, Kind.all, :id, :name, prompt: "Not selected" %>
      </h4>
    </div>

    <div>
      <h4>
        <%= f.label :term %>: 
        <%= f.collection_select :term_id, Term.all, :id, :name, prompt: "Not selected" %>
      </h4>
    </div>
  <div>
      <h4>
        <%= f.label :company_or_school_name %>: 
        <%= f.text_field :school %>
      </h4>
    </div>
    <div>
      <h4>
        <%= f.label :company_or_school_address %>: 
        <%= f.text_field :school_address %>
      </h4>
    </div>
    <div>
      <h4>
        <%= f.label :major %>: 
         <%= f.collection_select :major_id, Major.all, :id, :name, prompt: "Not selected" %>
      </h4>
    </div>
    <div>
      <h4>
        <%= f.label :budget %>: 
         <%= f.collection_select :budget_id, Budget.all, :id, :name, prompt: "Not selected" %>
      </h4>
    </div>

    <div>
      <h4>
        <%= f.label :image %>: 
        <%= f.file_field :image, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
      </h4>
    </div>

    <div>
       <h4>
         <%= f.label :国の感想 %>: 
         <%= f.text_area :comment_country %>
       </h4>
     </div> 

      <div>
       <h4>
         <%= f.label :学校あるいは会社の感想 %>: 
         <%= f.text_area :comment_school %>
       </h4>
     </div> 

      <div>
       <h4>
         <%= f.label :社会の感想 %>: 
         <%= f.text_area :comment_social %>
       </h4>
     </div> 

      <div>
       <h4>
         <%= f.label :自分からのアドバイス %>: 
         <%= f.text_area :comment_advice %>
       </h4>
     </div> 


    <div>
      <%= f.submit yield(:button_text) %>
    </div>
  <% end %>
  <%= link_to  "Back", :back %>
</div>