<div>
  <strong><%= link_to "ABRRY", root_url %></strong>
  <% if current_user %>
    <%= link_to  'My page', user_path(current_user) %>
  <% else %>
    <%= link_to "Sign up", signup_path %>
  <% end %>
  <%= link_to  "All Users", users_path %>
  <%= link_to  "New post", new_post_path %>

  <%= form_tag(search_page_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>
</div>
