<div>
  <strong><%= link_to "ABRRY", root_url %></strong>
  <% if current_user %>
    <%= link_to  current_user.name, user_path(current_user) %>
  <% else%>
    <%= link_to "Sign up", signup_path %>
  <% end %>
  <%= link_to  "All Users", users_path %>
  <%= link_to  "New post", new_post_path %>
</div>
